html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.book-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.book {
    width: 80vw;

    aspect-ratio: 16 / 10;

    background: url("../assets/img/book.png") no-repeat center;
    background-size: contain;

    position: relative;

    display: flex;
    padding: 60px 100px;
    overflow: hidden;
}

.page {
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 10px 15px;
}

.page p {
    margin: 0 0 14px;
    line-height: 1.45;
    font-size: 18px;
}

.left-page {
    border-right: 10px solid transparent;
}

.word {
    cursor: pointer;
    padding: 2px 3px;
    border-radius: 4px;
}

.word:hover {
    background: rgba(255, 230, 140, 0.8);
}

.tooltip {
    position: absolute;
    background: #fff;
    border-radius: 6px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    pointer-events: auto;
    white-space: nowrap;
    font-size: 16px;
    z-index: 999999;
}

.hidden {
    display: none;
}

.tooltip .btn {
    display: inline-block;
    margin: 4px;
    padding: 4px 8px;
    background: #eee;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #aaa;
}

.tooltip .btn:hover {
    background: #ddd;
}